<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Invoices</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Invoices</li>
            </ul>
        </div>
        <div class="col-auto">
            <a href="add-invoice.html" class="btn btn-primary">
                <i class="fas fa-plus"></i>
            </a>
            <a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
                <i class="fas fa-filter"></i>
            </a>
        </div>
    </div>
</div>


<div id="filter_inputs" class="card filter-card">
    <div class="card-body pb-0">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Customer:</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Status:</label>
                    <select class="select">
                        <option>Select Status</option>
                        <option>Draft</option>
                        <option>Sent</option>
                        <option>Viewed</option>
                        <option>Expired</option>
                        <option>Accepted</option>
                        <option>Rejected</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>From</label>
                    <div class="cal-icon">
                        <input class="form-control datetimepicker" type="text">
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>To</label>
                    <div class="cal-icon">
                        <input class="form-control datetimepicker" type="text">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Invoice Number</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>