<!-- {% if i.status != 'Approved' and i.status != 'Rejected' %}
                                        <div class="col-sm-8">
                                        <a href="{% url 'accept' %}?action=1&id={{ i.id }}">
                                        <button style="background-color:mediumseagreen ;" >Approve</button>
                                        </a>
                                        </div>
                                        <div class="col-sm-8">
                                            <br>
                                        <a href="{% url 'accept' %}?action=0&id={{ i.id }}">
                                        <button style="background-color:red ;">Reject</button>
                                        </a>
                                        </div>
                                        {% elif i.status == 'Approved' %}

                                        &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:green;">Approved</span>

                                        {% elif i.status == 'Rejected' %}

                                        &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:tomato;">Rejected</span>

                                        {% endif %} -->
 <!-- {% for i in status %}
                                    <option value="{{i.0}}" {% if i.0 == s %} selected  {% endif %}> {{i.1}} </option>
                                  {% endfor %} -->