{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Cydez Technologies | Billing</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'image/cydez icon.png' %}">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="msapplication-tap-highlight" content="no">
    <link href="{% static 'table.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.6.3/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="be-wrapper be-offcanvas-menu be-fixed-sidebar">
        <nav class="navbar navbar-expand fixed-top be-top-header">
            <div class="container-fluid">
                <div class="be-navbar-header">
                    <a class="nav-link be-toggle-left-sidebar" href="#" id="sidebar_btn">
                        <span class="icon zmdi zmdi-menu"></span>
                    </a>
                    <a class="navbar-brand" href="{% url 'consultatntbilling' userid %}"><h2>CYDEZ TECHNOLOGIES</h2></a>
                </div>
                <div class="be-right-navbar be-right-navbar-flex">
                    <div class="search-container ">
                        <div class="input-group input-group-sm mx-auto">
                            <input class="form-control search-input" type="text" name="search" placeholder="Search" />
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="be-left-sidebar" id="left_sidebar">
            <div class="left-sidebar-wrapper">
                <div class="left-sidebar-spacer">
                    <div class="left-sidebar-scroll">
                        <div class="left-sidebar-content">
                            <ul class="sidebar-elements">
                                <li>
                                    <a href="{% url 'consultatntbilling' userid %}"><i class="icon zmdi zmdi-comment-logout"></i><span>Total Billing</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'estimateconsultant' userid %}"><i class="icon zmdi zmdi-comment-logout"></i><span>Estimated Amount</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'estimation' userid %}"><i class="icon zmdi zmdi-comment-logout"></i><span>Generate Estimate</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'log' %}"><i class="icon zmdi zmdi-comment-logout"></i><span>Logout</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="be-content">
            <div class="container">
                <div class="table-wrapper">
                    <div class="row">
                        <form method="GET" >
                            {% csrf_token %}
                        <div class="search-container ">
                            <div class="input-group input-group-sm mx-auto">
                                <input class="form-control search-input" type="text" name="q"
                                    placeholder="Search"  value="{{ request.GET.q }}" >
                                    <button style="margin-left: 40px;" class="button button1">Search</button>
                                </form>
                                <button style="margin-left: 40px;" class="button button1"><a style="color: white;" href="{% url 'generateEstimate' userid %}"  >Estimate</a></button>


                            </div>
                        
                        </div>

                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Consultant Name</th>
                                    <th>Estimate Number</th>
                                    <th>Invoice</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                {% for i in datas %}
                                <tr>
                                    <td>{{i.consultantid.first_name}}</td>
                                    <td>{{i.reportNumber}}</td>
                                    <td><a  href="/invoice/{{i.id}} " target="_blank">Invoice</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                 <div class="paginator" style="width:100%;display: flex;justify-content: space-between;align-items: center;">
                        <div style="float:left; margin-top: 20px;">
                          Page {{ datas.start_index}} to {{ datas.end_index }} of {{ datas.paginator.count }}
                        </div>
                        <div style="float:right;"><br>
                          <nav aria-label="Page navigation example">
                  
                            
                              <ul class="pagination">
                                {% if datas.has_previous %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ datas.previous_page_number }}">&laquo; Previous</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                  <a class="page-link">&laquo; </a>
                                </li>
                                {% endif %}
                                {% for i in datas.paginator.page_range %} 
                                <!-- {# {% if datas.number == i %} #} -->
                                {% if i <= datas.number|add:5 and i >= datas.number|add:-5 %}
                  
                                {% if datas.number == i %}
                                <li class="page-item active">
                                  <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                                </li>
                                {% else %}
                                <li class="page-item">
                                  <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                                </li>
                                {% endif %}
                  
                                {% endif %}
                                {% endfor %} 
                  
                                {% if datas.has_next %}
                  
                                <li class="page-item">
                                  <a class="page-link" href="?page={{ datas.next_page_number }}">&raquo; Next</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                  <a class="page-link"> &raquo;</a>
                                </li>
                                {% endif %}
                              </ul>
                            
                  
                          </nav>
                        </div>
                      </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script> 
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.6.3/js/jquery.overlayScrollbars.min.js"></script>
    <script>


        var body = $(document.body),
            open_left_sidebar = "open-left-sidebar",
            sidebar_btn = $("#sidebar_btn"),
            left_sidebar = $("#left_sidebar"),
            anchors = $(".sidebar-elements li a", left_sidebar),
            wrapper = $(".be-wrapper"),
            menu_speed = 200;
        $("#debug_only_menuopen")
            .addClass("open")
            .find(".sub-menu > .parent")
            .addClass("open");
        var scrollbar = OverlayScrollbars(
            $(".left-sidebar-scroll")[0],
            {
                scrollbars: {
                    autoHide: "leave",
                    autoHideDelay: 100
                }
            }
        );
        function toggle_sidebar() {
            body.toggleClass(open_left_sidebar);
        }

        sidebar_btn.on(
            "click",
            debounce(toggle_sidebar, 200, true)
        );
        anchors.on("click", function (event) {
            var $el = $(this),
                $li = $el.parent(),
                $subMenu = $el.next(),
                $open = $li.siblings(".open");

            if ($li.hasClass("open")) {
                slideUp($subMenu, event);
            } else {
                slideDown($el, event);
            }

            if ($el.next().is("ul")) {
                event.stopPropagation();
                event.preventDefault();
            }
        });

        function isCollapsibleSidebarCollapsed() {
            return wrapper.hasClass("be-collapsible-sidebar-collapsed");
        }

        function slideUp($subMenu, event) {
            var target = $(event.currentTarget),
                parent = $($subMenu).parent(),
                item = $("li.open", parent),
                isRoot = !target.closest(left_sidebar).length,
                speed = menu_speed,
                hasElements = target.parents()
                    .eq(1)
                    .hasClass("sidebar-elements");

            //console.log(event);


            if (
                !$.isSm() &&
                isCollapsibleSidebarCollapsed() &&
                (hasElements || isRoot)
            ) {
                parent.removeClass("open");
                $subMenu.removeClass("visible");
                item.removeClass("open").removeAttr("style");
            } else {
                $subMenu.slideUp({
                    duration: speed,
                    complete: function () {
                        parent.removeClass("open");
                        $(this).removeAttr("style");
                        item.removeClass("open").removeAttr("style");
                    }
                });
            }
        }

        function slideDown($this, event) {
            var $el = $($this),
                parent = $el.parent(),
                next = $($el).next(),
                speed = menu_speed,
                hasElements = $(event.currentTarget)
                    .parents()
                    .eq(1)
                    .hasClass("sidebar-elements"),
                siblingsOpen = parent.siblings(".open");

            //console.log("$this: ", $this);
            //console.log("slideDown: ", $(event.currentTarget));

            if (siblingsOpen) {
                slideUp(
                    $("> ul", siblingsOpen),
                    event
                );
            }

            if (
                !$.isSm() &&
                isCollapsibleSidebarCollapsed() &&
                hasElements
            ) {
                parent.addClass("open");
                next.addClass("visible");
            } else {
                next.slideDown({
                    duration: speed,
                    complete: function () {
                        parent.addClass("open");
                        $(this).removeAttr("style");
                    }
                });
            }
        }

        // Updated: 2019.01.02 @ 12:00:00
        /** AUTO close with user clicks or taps away from sidebar **/
        $(document.body).on(
            "mousedown touchstart",
            function (event) {
                if (
                    !$(event.target).closest(left_sidebar).length &&
                    !$(event.target).closest(sidebar_btn).length &&
                    body.hasClass(open_left_sidebar)
                ) {
                    body.removeClass(open_left_sidebar);
                }
            }
        );

        // Updated: 2019.01.03 @ 13:03:58
        /***************************/
        /** Bootstrap Breakpoints **/
        /***************************/
        (function (e) { e.isBreakpoint = function (t) { var o, i, a; switch (t) { case "xs": a = "d-none d-sm-block"; break; case "sm": a = "d-none d-md-block"; break; case "md": a = "d-none d-lg-block"; break; case "lg": a = "d-none d-xl-block"; break; case "xl": a = "d-none" }return i = (o = e("<div/>", { class: a }).appendTo("body")).is(":hidden"), o.remove(), i }, e.extend(e, { isXs: function () { return e.isBreakpoint("xs") }, isSm: function () { return e.isBreakpoint("sm") }, isMd: function () { return e.isBreakpoint("md") }, isLg: function () { return e.isBreakpoint("lg") }, isXl: function () { return e.isBreakpoint("xl") } }) })(jQuery);

        // Updated: 2019.01.12 @ 18:36:59
        /***************************/
        /** Underscore.js debounce function **/
        /***************************/
        function debounce(a, b, c) { var d, e, f, g, h; var l = function () { return new Date().getTime(); }; var i = function () { var j = l() - g; if (j < b && j >= 0) { d = setTimeout(i, b - j); } else { d = null; if (!c) { h = a.apply(f, e); if (!d) { f = e = null; } } } }; return function () { f = this; e = arguments; g = l(); var k = c && !d; if (!d) { d = setTimeout(i, b) }; if (k) { h = a.apply(f, e); f = e = null; } return h; }; };

    </script>
      <script>
        $(document).ready(function() {
       $("#reset").click(function() {
           $("input").val("");
       });
   });
   </script>
    <script>$(document).ready(function () {
            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();

            // Select/Deselect checkboxes
            var checkbox = $('table tbody input[type="checkbox"]');
            $("#selectAll").click(function () {
                if (this.checked) {
                    checkbox.each(function () {
                        this.checked = true;
                    });
                } else {
                    checkbox.each(function () {
                        this.checked = false;
                    });
                }
            });
            checkbox.click(function () {
                if (!this.checked) {
                    $("#selectAll").prop("checked", false);
                }
            });
        });</script>
</body>

</html>