{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Cydez Technologies | Billing</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'image/cydez icon.png' %}">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="msapplication-tap-highlight" content="no">

    <link href="{% static 'table.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.6.3/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <style>
        .wrapper {
          position: relative;
          width: 640px;
          height: 480px;
          margin: 50px auto 0 auto;
          padding-bottom: 30px;
          border: 1px solid #ccc;
          border-radius: 3px;
          clear: both;
        }
    
        .box {
          float: left;
          width: 50%;
          height: 50%;
          box-sizing: border-box;
        }
    
        .container {
          width: 450px;
          margin: 0 auto;
          text-align: center;
        }
    
        .gauge {
          width: 320px;
          height: 240px;
        }
    
        button {
          margin: 30px 5px 0 2px;
          padding: 16px 40px;
          border-radius: 5px;
          font-size: 18px;
          border: none;
          background: #34aadc;
          color: white;
          cursor: pointer;
        }
      </style>
</head>

<body>
    <div class="be-wrapper be-offcanvas-menu be-fixed-sidebar">
        <nav class="navbar navbar-expand fixed-top be-top-header">
            <div class="container-fluid">
                <div class="be-navbar-header">
                    <a class="nav-link be-toggle-left-sidebar" href="#" id="sidebar_btn">
                        <span class="icon zmdi zmdi-menu"></span>
                    </a>
                    <a id="a" class="navbar-brand" href="listtask"><h2>CYDEZ TECHNOLOGIES</h2></a>
                    
                </div>
                <div class="be-right-navbar be-right-navbar-flex">
                    <div class="search-container ">
                        <div class="input-group input-group-sm mx-auto">
                            <input class="form-control search-input" type="text" name="search" placeholder="Search" />
                            <!-- <i class="fa fa-search"></i> -->
                        </div>
                    </div>
                    <!-- <ul class="nav navbar-nav float-right be-icons-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                                aria-expanded="true">
                                <span class="icon zmdi zmdi-notifications"></span>
                            </a>
                            <ul class="dropdown-menu">notifications</ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                                aria-expanded="true">
                                <span class="icon zmdi zmdi-apps"></span>
                            </a>
                            <ul class="dropdown-menu">apps</ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                                aria-expanded="true">
                                <span class="icon zmdi zmdi-comment-text"></span>
                            </a>
                            <ul class="dropdown-menu">comment</ul>
                        </li>
                        
                    </ul> -->
                </div>
            </div>
        </nav>
        <div class="be-left-sidebar" id="left_sidebar">
            <div class="left-sidebar-wrapper">
                <div class="left-sidebar-spacer">
                    <div class="left-sidebar-scroll">
                        <div class="left-sidebar-content">
                            <ul class="sidebar-elements">
                                
                                <li>
                                    <a href="{% url 'listtask' %}"><i class="icon zmdi zmdi-comment-logout"></i><span>Home</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'BillingPerfomance' %}"><i class="icon zmdi zmdi-comment-logout"></i><span>Billing Perfomance</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'userincentive' %}"><i class="icon zmdi zmdi-comment-logout"></i><span>Incentive</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'log' %}"><i class="icon zmdi zmdi-comment-logout"></i><span>Logout</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
           <p style="color: blue;font-size: 30px;margin-top: 15px;margin-left: 15px;font-weight: bold;">{{k}}</p>
           <p style="color: black;font-size: 20px;margin-top: 10px;margin-left: 15px;font-weight: bold;">Designation: {{des}}</p>
           <p style="color: black;font-size: 20px;margin-top: 10px;margin-left: 15px;font-weight: bold;">Rank: {{rank}}</p>
           <p style="color: black;font-size: 20px;margin-top: 10px;margin-left: 15px;font-weight: bold;">Email: {{mail}}</p>
            <h3 style="color: blue; ">{{messege}}</h3>
           <div class="wrapper">
            <form method="post" action="{% url 'BillingPerfomance' %}">
                {% csrf_token %}
            <div class="box">
                <h3 style="color: blue;" >Monthly Performance</h3>
                <input style="margin-left: 15px;" type="month" name="date" value="{{ searchDate }}" id="myDate"  onchange= "changedate(this.value)">
                <button style="display: none;" id="buttonid"  class="button button1">Submit</button></li>              
              <div id="g1" class="gauge"></div>
            </div>
            <div class="box">
                <h3 style="color: blue;" >Total Performance</h3>
                <br><br>
              <div id="g2" class="gauge"></div>
            </div>
            </form>
            <!-- <div class="box">
              <div id="g3" class="gauge"></div>
            </div>
            <div class="box">
              <div id="g4" class="gauge"></div>
            </div> -->
          </div>
          <div class="container">
            <!-- <button type="button" id="gauge_refresh">Refresh Gauges</button> -->
          </div>
          <script src="{% static 'js/raphael.min.js' %}"></script>
       <script src="{% static 'js/justgage.js' %}" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script> 
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.6.3/js/jquery.overlayScrollbars.min.js"></script>
        <script>
            /** Random integer  */
            function getRandomInt(min, max) {
              return Math.floor(Math.random() * (max - min + 1)) + min;
            }
        
            document.addEventListener("DOMContentLoaded", function (event) {
              var g1 = new JustGage({
                id: 'g1',
                value: {{value}},
                min: 0,
                max: 100,
                symbol: '%',
                pointer: true,
                gaugeWidthScale: 0.6,
                customSectors: [{
                  color: '#ff0000',
                  lo: 50,
                  hi: 100
                }, {
                  color: '#00ff00',
                  lo: 0,
                  hi: 50
                }],
                counter: true
              });
        
              var g2 = new JustGage({
                id: 'g2',
                value: {{Totalvalue}},
                min: 0,
                max: 100,
                symbol: '%',
                pointer: true,
                pointerOptions: {
                  toplength: -15,
                  bottomlength: 10,
                  bottomwidth: 12,
                  color: '#8e8e93',
                  stroke: '#ffffff',
                  stroke_width: 3,
                  stroke_linecap: 'round'
                },
                gaugeWidthScale: 0.6,
                counter: true
              });
        
              var g3 = new JustGage({
                id: 'g3',
                value: 40,
                min: 0,
                max: 100,
                symbol: '%',
                donut: true,
                pointer: true,
                gaugeWidthScale: 0.4,
                pointerOptions: {
                  toplength: 10,
                  bottomlength: 10,
                  bottomwidth: 8,
                  color: '#000'
                },
                customSectors: [{
                  color: "#ff0000",
                  lo: 50,
                  hi: 100
                }, {
                  color: "#00ff00",
                  lo: 0,
                  hi: 50
                }],
                counter: true
              });
        
              var g4 = new JustGage({
                id: 'g4',
                value: 70,
                min: 0,
                max: 100,
                symbol: '%',
                pointer: true,
                pointerOptions: {
                  toplength: 8,
                  bottomlength: -20,
                  bottomwidth: 6,
                  color: '#8e8e93'
                },
                gaugeWidthScale: 0.1,
                counter: true
              });
        
              document.getElementById('gauge_refresh').addEventListener('click', function () {
                g1.refresh(getRandomInt(0, 100));
                g2.refresh(getRandomInt(0, 100));
                g3.refresh(getRandomInt(0, 100));
                g4.refresh(getRandomInt(0, 100));
              });
            });
          </script>
    <script>
   














    console.clear(); // Clear all CodePen's errors and warnings
        /*
        
        Requires:
        
        • jQuery | Boottrap v4.1+
        
        Overlay Scrollbars:
        https://kingsora.github.io/OverlayScrollbars/#!overview
        
        
        TODO:
        
        • fix left-sidebar srolling when overflowing. Avoid default scrollbar style.
        • Dim screen when opening sidebar?
        • Add extra brand logo and menu icon on open?
        • Add footer to left sidebar.
        • Support a right sidebar?
        • Sidebar animation, history/navigation fix.
        • Use hardware acceleration for animated sidebar?
        • Partial icon view for sidebar collapse?
        
        */

        var body = $(document.body),
            open_left_sidebar = "open-left-sidebar",
            sidebar_btn = $("#sidebar_btn"),
            left_sidebar = $("#left_sidebar"),
            anchors = $(".sidebar-elements li a", left_sidebar),
            wrapper = $(".be-wrapper"),
            menu_speed = 200;

        // Only for debugging (stop page navigating away)
    //     $(
    //         ".be-wrapper > .navbar a, \
    //    .be-wrapper > .be-left-sidebar a"
    //     ).attr("href", "#" + Math.random());

        // Updated: 2018.12
        // By default both '.be-animate' and '.be-offcanvas-menu'
        // should be placed in the body tag.
        // Using '.open-left-sidebar' to open the sidebar.
        // $(document.body)
        //     .addClass("be-animate be-offcanvas-menu open-left-sidebar");

        // Updated: 2019.03.11 @ 17:49:23
        // Only for debugging (extending menus and testing scrollbar)
        $("#debug_only_menuopen")
            .addClass("open")
            .find(".sub-menu > .parent")
            .addClass("open");



        // Updated: 2019.14.03 @ 18:09:27
        /** Scrollbar Support (Change with what ever scollbar plugin you need) **/
        var scrollbar = OverlayScrollbars(
            $(".left-sidebar-scroll")[0],
            {
                scrollbars: {
                    autoHide: "leave",
                    autoHideDelay: 100
                }
            }
        );

        // Updated: 2019.01.12 @ 18:39:59
        function toggle_sidebar() {
            body.toggleClass(open_left_sidebar);
        }

        sidebar_btn.on(
            "click",
            debounce(toggle_sidebar, 200, true)
        );

        // Updated: 2020.01.08 @ 19:42:34
        /** Operate submenus **/
        anchors.on("click", function (event) {
            var $el = $(this),
                $li = $el.parent(),
                $subMenu = $el.next(),
                $open = $li.siblings(".open");

            //console.log($subMenu);
            //$el.parents().eq(1).hasClass("sidebar-elements");

            if ($li.hasClass("open")) {
                slideUp($subMenu, event);
            } else {
                slideDown($el, event);
            }

            if ($el.next().is("ul")) {
                event.stopPropagation();
                event.preventDefault();
            }
        });

        function isCollapsibleSidebarCollapsed() {
            return wrapper.hasClass("be-collapsible-sidebar-collapsed");
        }

        function slideUp($subMenu, event) {
            var target = $(event.currentTarget),
                parent = $($subMenu).parent(),
                item = $("li.open", parent),
                isRoot = !target.closest(left_sidebar).length,
                speed = menu_speed,
                hasElements = target.parents()
                    .eq(1)
                    .hasClass("sidebar-elements");

            //console.log(event);


            if (
                !$.isSm() &&
                isCollapsibleSidebarCollapsed() &&
                (hasElements || isRoot)
            ) {
                parent.removeClass("open");
                $subMenu.removeClass("visible");
                item.removeClass("open").removeAttr("style");
            } else {
                $subMenu.slideUp({
                    duration: speed,
                    complete: function () {
                        parent.removeClass("open");
                        $(this).removeAttr("style");
                        item.removeClass("open").removeAttr("style");
                    }
                });
            }
        }

        function slideDown($this, event) {
            var $el = $($this),
                parent = $el.parent(),
                next = $($el).next(),
                speed = menu_speed,
                hasElements = $(event.currentTarget)
                    .parents()
                    .eq(1)
                    .hasClass("sidebar-elements"),
                siblingsOpen = parent.siblings(".open");

            //console.log("$this: ", $this);
            //console.log("slideDown: ", $(event.currentTarget));

            if (siblingsOpen) {
                slideUp(
                    $("> ul", siblingsOpen),
                    event
                );
            }

            if (
                !$.isSm() &&
                isCollapsibleSidebarCollapsed() &&
                hasElements
            ) {
                parent.addClass("open");
                next.addClass("visible");
            } else {
                next.slideDown({
                    duration: speed,
                    complete: function () {
                        parent.addClass("open");
                        $(this).removeAttr("style");
                    }
                });
            }
        }

        // Updated: 2019.01.02 @ 12:00:00
        /** AUTO close with user clicks or taps away from sidebar **/
        $(document.body).on(
            "mousedown touchstart",
            function (event) {
                if (
                    !$(event.target).closest(left_sidebar).length &&
                    !$(event.target).closest(sidebar_btn).length &&
                    body.hasClass(open_left_sidebar)
                ) {
                    body.removeClass(open_left_sidebar);
                }
            }
        );

        // Updated: 2019.01.03 @ 13:03:58
        /***************************/
        /** Bootstrap Breakpoints **/
        /***************************/
        (function (e) { e.isBreakpoint = function (t) { var o, i, a; switch (t) { case "xs": a = "d-none d-sm-block"; break; case "sm": a = "d-none d-md-block"; break; case "md": a = "d-none d-lg-block"; break; case "lg": a = "d-none d-xl-block"; break; case "xl": a = "d-none" }return i = (o = e("<div/>", { class: a }).appendTo("body")).is(":hidden"), o.remove(), i }, e.extend(e, { isXs: function () { return e.isBreakpoint("xs") }, isSm: function () { return e.isBreakpoint("sm") }, isMd: function () { return e.isBreakpoint("md") }, isLg: function () { return e.isBreakpoint("lg") }, isXl: function () { return e.isBreakpoint("xl") } }) })(jQuery);

        // Updated: 2019.01.12 @ 18:36:59
        /***************************/
        /** Underscore.js debounce function **/
        /***************************/
        function debounce(a, b, c) { var d, e, f, g, h; var l = function () { return new Date().getTime(); }; var i = function () { var j = l() - g; if (j < b && j >= 0) { d = setTimeout(i, b - j); } else { d = null; if (!c) { h = a.apply(f, e); if (!d) { f = e = null; } } } }; return function () { f = this; e = arguments; g = l(); var k = c && !d; if (!d) { d = setTimeout(i, b) }; if (k) { h = a.apply(f, e); f = e = null; } return h; }; };

    </script>
    <script>$(document).ready(function () {
            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();

            // Select/Deselect checkboxes
            var checkbox = $('table tbody input[type="checkbox"]');
            $("#selectAll").click(function () {
                if (this.checked) {
                    checkbox.each(function () {
                        this.checked = true;
                    });
                } else {
                    checkbox.each(function () {
                        this.checked = false;
                    });
                }
            });
            checkbox.click(function () {
                if (!this.checked) {
                    $("#selectAll").prop("checked", false);
                }
            });
        });</script>
        <script>
            // _today: function () {
            //     var myDate =document.querySelector(myDate);
            //     var today = new Date();
            //     myDate.value = today.toISOString().substr(0, 10);
            // }
            $(".selector").datepicker("setDate",new Date())
        </script>
        <script>
            function changedate(date){
                document.getElementById('myDate').click()
                document.getElementById('buttonid').click()
            }
        </script>
</body>

</html>