<!DOCTYPE html>
{% load static %}
<html>

<head>
  <title>Login Form</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'image/cydez icon.png' %}">
  <!-- <link rel="stylesheet" type="text/css" href="css/style.css">     -->
  <!-- <link href="{% static 'style.css' %}" rel="stylesheet"> -->

  <link href="{% static 'bootstrap.min.css'%}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{% static 'plugins/select2/css/select2.min.css'%}">
<link rel="stylesheet" href="{% static 'all-min.css'%}">
<link href="{% static 'style2.css' %}" rel="stylesheet">
<link href="{% static 'plugins/fontawesome/css/fontawesome.min.css'%}">
<link href="{% static 'plugins/fontawesome/css/all.min.css'%}">
<link href="{% static 'plugins/datatables/datatables.min.css'%}">
<link rel="stylesheet" href="https://kanakku.dreamguystech.com/html/template/assets/css/bootstrap-datetimepicker.min.css">
<link href="{% static 'bootstrap-datetimepicker.min.css'%}">
<script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>


</head>

<body>

  <div class="main-wrapper login-body">
    <div class="login-wrapper">
      <div class="container">
        <img class="img-fluid logo-dark mb-2" src="../static/images/logo_4.png" alt="Logo">
        <div class="loginbox">
          <div class="login-right">
            <div class="login-right-wrap">
              <h1>Register</h1>
              <p class="account-subtitle">Access to our dashboard</p>

              <form action="{% url 'adminlogin' %}" method="post" class="sign-in-form">
                {% csrf_token %}
               
                <div class="form-group">
                  <label class="form-control-label">Email Address</label>
                  <input class="form-control" name="name" type="text">
                </div>
                <div class="form-group">
                  <label class="form-control-label">Password</label>
                  <input class="form-control" name="psw" type="text">
                </div>
               
                <div class="form-group mb-0">
                  <button class="btn btn-lg btn-block btn-primary w-100" value="Login" type="submit">Login</button>
                </div>
              </form>

              <div class="login-or">
                <span class="or-line"></span>
                <span class="span-or">or</span>
              </div>

              <div class="social-login">
                <span>Register with</span>
                <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a><a href="" class="google"><i
                    class="fab fa-google"></i></a>
              </div>

              <div class="text-center dont-have">Already have an account? <a href="/">Login</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>









  <!-- <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form action="{% url 'adminlogin' %}" method="post" class="sign-in-form">
          {% csrf_token %}
          <h4 style="color: red;font-weight: bold;">{{messege}}</h4>

          <h2 class="title">Sign in</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" name="name" placeholder="Username" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" name="psw" placeholder="Password" />
          </div>
          <input type="submit" value="Login" class="btn solid" />
          <p class="social-text">Or Sign in with social platforms</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </form>

      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <img src="{% static 'image/cydez icon.png' %}" class="image" alt="" style="border-radius:80%; width:40%;" />
          <h3>Cydez Technologies</h3>

          <p>
            Creating Online Environment
          </p>
          <button class="btn transparent" id="sign-up-btn">
            Sign up
          </button>
        </div>

      </div>

    </div>
  </div> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/feather.min.js' %}"></script>
  <script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
  <script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="https://kit.fontawesome.com/64d58efce2.js"></script>

</body>

</html>