{% load static %}
<!doctype html>
<html lang="en">
<head>
  <link href="{% static 'bootstrap.min.css'%}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{% static 'plugins/select2/css/select2.min.css'%}">
  <link rel="stylesheet" href="{% static 'all-min.css'%}">
  <link href="{% static 'style2.css' %}" rel="stylesheet">
  <link href="{% static 'plugins/fontawesome/css/fontawesome.min.css'%}">
  <link href="{% static 'plugins/fontawesome/css/all.min.css'%}">
  <link href="{% static 'plugins/datatables/datatables.min.css'%}">
  <link rel="stylesheet" href="https://kanakku.dreamguystech.com/html/template/assets/css/bootstrap-datetimepicker.min.css">
  <link href="{% static 'bootstrap-datetimepicker.min.css'%}">
  <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
  


<style>
  .fxt-template-layout6 {
  padding: 15px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.fxt-template-layout6:before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}
.fxt-template-layout6 .fxt-content-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.fxt-template-layout6 .fxt-content {
  max-width: 660px;
  width: 100%;
  background-color: #fff;
  padding: 90px 80px 70px;
}
@media only screen and (max-width: 991px) {
  .fxt-template-layout6 .fxt-content {
    padding: 90px 70px 70px;
  }
}
@media only screen and (max-width: 767px) {
  .fxt-template-layout6 .fxt-content {
    padding: 70px 50px 50px;
  }
}
@media only screen and (max-width: 575px) {
  .fxt-template-layout6 .fxt-content {
    padding: 50px 30px 30px;
  }
}
.fxt-template-layout6 .fxt-header {
  background-color: transparent;
  margin-bottom: 30px;
}
.fxt-template-layout6 .fxt-header .fxt-logo {
  display: block;
  max-width: 40vw;
}
.fxt-template-layout6 .fxt-form {
  margin-bottom: 40px;
}
.fxt-template-layout6 .fxt-form .fxt-otp-logo {
  margin-bottom: 20px;
  display: block;
}
.fxt-template-layout6 .fxt-form h2 {
  font-weight: 700;
  margin-bottom: 30px;
}
.fxt-template-layout6 .fxt-form p {
  margin-bottom: 30px;
  font-size: 17px;
}
.fxt-template-layout6 .fxt-form p span {
  display: block;
}
.fxt-template-layout6 .fxt-form .fxt-otp-label {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
}
.fxt-template-layout6 .fxt-form .form-group {
  position: relative;
  z-index: 1;
}
.fxt-template-layout6 .fxt-form .form-group i {
  position: absolute;
  z-index: 1;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.fxt-template-layout6 .fxt-form .form-group [class^="flaticon-"]:before,
.fxt-template-layout6 .fxt-form .form-group [class*=" flaticon-"]:before,
.fxt-template-layout6 .fxt-form .form-group [class^="flaticon-"]:after,
.fxt-template-layout6 .fxt-form .form-group [class*=" flaticon-"]:after {
  margin-left: 0;
  font-size: 17px;
  color: #a1a1a1;
}
.fxt-template-layout6 .fxt-form .form-control {
  background-color: #f6f6f6;
  min-height: 50px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  padding: 10px 30px;
  color: #111111;
}
.fxt-template-layout6 .fxt-form input::-webkit-input-placeholder {
  color: #a1a1a1;
  font-size: 15px;
  font-weight: 300;
}
.fxt-template-layout6 .fxt-form input::-moz-placeholder {
  color: #a1a1a1;
  font-size: 15px;
  font-weight: 300;
}
.fxt-template-layout6 .fxt-form input:-moz-placeholder {
  color: #a1a1a1;
  font-size: 15px;
  font-weight: 300;
}
.fxt-template-layout6 .fxt-form input:-ms-input-placeholder {
  color: #a1a1a1;
  font-size: 15px;
  font-weight: 300;
}
.fxt-template-layout6 .fxt-form .fxt-form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.fxt-template-layout6 .fxt-form .fxt-form-row .fxt-form-col {
  padding: 10px 5px;
  text-align: center;
  margin-right: 10px;
  flex-basis: 0;
  flex-grow: 1;
}
.fxt-template-layout6 .fxt-form .fxt-form-row .fxt-form-col:last-child {
  margin-right: 0;
}
.fxt-template-layout6 .fxt-form .fxt-form-btn {
  margin-bottom: 10px;
}
.fxt-template-layout6 .fxt-form .fxt-resend-wrap {
  color: #999898;
  margin-bottom: 10px;
  display: inline-flex;
  flex-wrap: wrap;
}
.fxt-template-layout6 .fxt-form .fxt-btn-resend {
  margin-left: 3px;
  box-shadow: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  color: #63bbff;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
.fxt-template-layout6 .fxt-form .fxt-btn-resend:focus {
  outline: none;
}
.fxt-template-layout6 .fxt-form .fxt-btn-resend:hover {
  color: #000000;
}
.fxt-template-layout6 .fxt-form .text-or {
  margin-left: 3px;
  color: #000000;
}
.fxt-template-layout6 .fxt-btn-fill {
  margin-right: 30px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: 0;
  color: #fff;
  border-radius: 3px;
  background-color: #ff5e13;
  padding: 10px 36px;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.fxt-template-layout6 .fxt-btn-fill:hover {
  background-color: #f0530b;
  border-color: #f0530b;
}
.fxt-template-layout6 .fxt-btn-fill:focus {
  outline: none;
}
.fxt-template-layout6 .switcher-text {
  color: #9f9f9f;
  font-size: 15px;
  margin-bottom: 7px;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.fxt-template-layout6 .switcher-text:hover {
  color: #666;
}
.fxt-template-layout6 .switcher-text2 {
  color: #63bbff;
  font-size: 15px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.fxt-template-layout6 .switcher-text2.inline-text {
  margin-left: 3px;
}
.fxt-template-layout6 .switcher-text2:hover {
  color: #000;
}
.fxt-template-layout6 ul.fxt-socials {
  margin-right: 15px;
  margin-bottom: 15px;
}
.fxt-template-layout6 ul.fxt-socials li {
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 575px) {
  .fxt-template-layout6 ul.fxt-socials li {
    margin-right: 2px;
  }
}
.fxt-template-layout6 ul.fxt-socials li:last-child {
  margin-right: 0;
}
.fxt-template-layout6 ul.fxt-socials li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  height: 40px;
  width: 40px;
  color: #ffffff;
  border-radius: 50%;
  border: 1px solid;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.fxt-template-layout6 ul.fxt-socials li.fxt-facebook a {
  background-color: #3b5998;
  border-color: #3b5998;
}
.fxt-template-layout6 ul.fxt-socials li.fxt-facebook a:hover {
  background-color: transparent;
  color: #3b5998;
}
.fxt-template-layout6 ul.fxt-socials li.fxt-twitter a {
  background-color: #00acee;
  border-color: #00acee;
}
.fxt-template-layout6 ul.fxt-socials li.fxt-twitter a:hover {
  background-color: transparent;
  color: #00acee;
}
.fxt-template-layout6 ul.fxt-socials li.fxt-google a {
  background-color: #CC3333;
  border-color: #CC3333;
}
.fxt-template-layout6 ul.fxt-socials li.fxt-google a:hover {
  background-color: transparent;
  color: #CC3333;
}
.fxt-template-layout6 ul.fxt-socials li.fxt-instagram a {
  background-color: #3f729b;
  border-color: #3f729b;
}
.fxt-template-layout6 ul.fxt-socials li.fxt-instagram a:hover {
  background-color: transparent;
  color: #3f729b;
}
.fxt-template-layout6 ul.fxt-socials li.fxt-linkedin a {
  background-color: #0077B5;
  border-color: #0077B5;
}
.fxt-template-layout6 ul.fxt-socials li.fxt-linkedin a:hover {
  background-color: transparent;
  color: #0077B5;
}
.fxt-template-layout6 ul.fxt-socials li.fxt-youtube a {
  background-color: #c4302b;
  border-color: #c4302b;
}
.fxt-template-layout6 ul.fxt-socials li.fxt-youtube a:hover {
  background-color: transparent;
  color: #c4302b;
}
.fxt-template-layout6 .fxt-footer {
  background-color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.fxt-template-layout6 .fxt-footer p {
  color: #747474;
}
.fxt-template-layout6 .fxt-form .form-control {
    background-color: #f6f6f6;
    min-height: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    padding: 10px 30px;
    color: #111111;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
</style>
</head>
<body>
	
  <section class="fxt-template-animation fxt-template-layout6" style="background-image: url(https://affixtheme.com/html/xmee/demo/img/figure/bg6-l.jpg);">
		<div class="fxt-header">
			<a href="" class="fxt-logo"><center><img src="../static/images/logo_4.png" width="30%" alt="Logo"></center></a>
		</div>
		<div class="fxt-content">
			<div class="fxt-form">
				<h2>Log in to continue..</h2>
        
        
        <form method ="POST" action="{% url 'loginf' %}">
          {% csrf_token %}
					<div class="form-group">
						<div class="fxt-transformY-50 fxt-transition-delay-3">
							<input type="text" class="form-control" placeholder="Phone number" name="phone" required>
						</div>
					</div>
					<div class="form-group">
						<div class="fxt-transformY-50 fxt-transition-delay-4">
							<input type="password" class="form-control" placeholder="Password" name="password" required>
						</div>
					</div>
					<div class="form-group">
						<div class="fxt-transformY-50 fxt-transition-delay-5">
							<div class="fxt-content-between">
								<button type="submit" class="fxt-btn-fill">Log in</button>
							</div>
						</div>
            
					</div>
				</form>
			</div>
			<div class="fxt-footer">
				
				<div class="fxt-transformY-50 fxt-transition-delay-10">
					<p>Don't have an account?<a href="{% url 'adminlogin' %}" class="switcher-text2 inline-text">Go to Admin</a></p>
				</div>
			</div>
		</div>
	</section>

  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/feather.min.js' %}"></script>
  <script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
  <script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>
  {% if msg %}
<script >
	document.getElementById('login').click()
</script>
{% endif %}
</html>