{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Cydez Technologies | Billing</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'image/cydez icon.png' %}">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="msapplication-tap-highlight" content="no">

    <link href="{% static 'table.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.6.3/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="be-wrapper be-offcanvas-menu be-fixed-sidebar">
        <nav class="navbar navbar-expand fixed-top be-top-header">
            <div class="container-fluid">
                <div class="be-navbar-header">
                    <a class="nav-link be-toggle-left-sidebar" href="" id="sidebar_btn">
                        <span class="icon zmdi zmdi-menu"></span>
                    </a>
                    <a class="navbar-brand" href="dashboard"><h2>CYDEZ TECHNOLOGIES</h2></a>
                </div>
                <div class="be-right-navbar be-right-navbar-flex">
                    <div class="search-container ">
                        <div class="input-group input-group-sm mx-auto">
                            
                            <input class="form-control search-input" type="text" name="search" placeholder="Search" />
                            
                            <!-- <i class="fa fa-search"></i> -->
                        </div>
                    </div>
                    <!-- <ul class="nav navbar-nav float-right be-icons-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                                aria-expanded="true">
                                <span class="icon zmdi zmdi-notifications"></span>
                            </a>
                            <ul class="dropdown-menu">notifications</ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                                aria-expanded="true">
                                <span class="icon zmdi zmdi-apps"></span>
                            </a>
                            <ul class="dropdown-menu">apps</ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                                aria-expanded="true">
                                <span class="icon zmdi zmdi-comment-text"></span>
                            </a>
                            <ul class="dropdown-menu">comment</ul>
                        </li>
                        
                    </ul> -->
                </div>
            </div>
        </nav>
        <!-- <div class="be-left-sidebar" id="left_sidebar">
            <div class="left-sidebar-wrapper">
                <div class="left-sidebar-spacer">
                    <div class="left-sidebar-scroll">
                        <div class="left-sidebar-content">
                            <ul class="sidebar-elements">
                                <li class="active"><a href="#"><i class="icon zmdi zmdi-home"></i><span>Home</span></a>
                                </li>
                                <li><a href="#"><i class="icon zmdi zmdi-fire"></i><span>Trending</span></a></li>
                                <li><a href="#"><i class="icon zmdi zmdi-hourglass-alt"></i><span>History</span></a>
                                </li>
                                <li><a href="#"><i class="icon zmdi zmdi-label"></i><span>Purchases</span></a></li>
                                <li class="divider">More Features</li>
                                <li class="parent"><a href="#"><i
                                            class="icon zmdi zmdi-comments"></i><span>Forum</span></a>
                                    <ul class="sub-menu">
                                        <li><a href="#">CodePen</a></li>
                                        <li><a href="#">Stack Overflow</a></li>
                                        <li><a href="#">Google</a></li>
                                    </ul>
                                </li>
                                <li><a href="#"><i
                                            class="icon zmdi zmdi-notifications"></i><span>Notifications</span></a></li>
                                <li><a href="#"><i class="icon zmdi zmdi-translate"></i><span>Translate</span></a></li>
                                <li class="divider">Settings</li>
                                <li><a href="#"><i class="icon zmdi zmdi-flag"></i><span>Report History</span></a></li>
                                <li><a href="#"><i class="icon zmdi zmdi-help"></i><span>Help</span></a></li>
                                <li><a href="#"><i class="icon zmdi zmdi-comment-alert"></i><span>Send
                                            Feedback</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="be-content">
            <div class="container">
                <div class="table-wrapper">
                    <div class="row">
                        <form method="post" action="{% url 'monthly' %}">
                            {% csrf_token %}
                            <div class="search-container ">
                                <div class="input-group input-group-sm mx-auto">
                        <input style="margin-left: 15px;" type="month" name="date" value="{{ searchDate }}" id="myDate"  onchange= "changedate(this.value)">
            <button style="display: none;" id="buttonid"  class="button button1">Submit</button></li> 
            
                            </div>
                        </form>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Client Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Details</th>
                                    <th>Amount Received</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for i in k %}
                                <tr>
                                    <td>{{i.name.clientName}}</td>
                                    <td>{{i.name.email}}</td>
                                    <td>{{i.name.phone}}</td>
                                    <td>{{i.details}}</td>
                                    <td>{{i.amountrecieved}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                    <div style="color: blue; margin-top: 20px;display: flex;flex-direction: row-reverse;justify-content: space-between;align-items: center;">
                        <!-- <div> -->
                            Total Amount Received : {{amounts}} Rs
                        </div>
                        <!-- <div> -->
                    <br><br>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Outgoing Expenditure</th>
                                    <th>
                                    {% if searchDate == b %}
                                    <button  class="button button1"><a style="color: white;" href="#addEmployeeModal" data-toggle="modal">Add</a></button>
                                    {% endif %}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <td>Salary</td><td>{{salary}}</td>
                                <tr>
                                {% for i in e %}
                                    <td>{{i.description}}</td>
                                    <td>{{i.amount }}</td>
                                    
                                    <td>
                                        {% comment %} <a href="#editEmployeeModal" class="edit" data-toggle="modal" 
                                        onclick="editUserDetails(
                                            projectname = '{{ i.projectname}}', 
                                            estimatedamount = '{{ i.estimatedamount }}', 
                                            paidamount= '{{ i.paidamount }}', 
                                            dueamount = '{{ i.dueamount }}', 
                                            userId = '{{ i.id }}'
                                            );" ><i
                                                class="fa fa-edit" data-toggle="tooltip" title="Edit"></i></a> {% endcomment %}
                                        <a href="{% url 'delete_expense' i.id %}" class="delete" ><i
                                                class="fa fa-trash" data-toggle="tooltip" title="Delete"></i></a>
                                    </td> 
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                    <div style="color: blue; margin-top: 20px;display: flex;flex-direction: row-reverse;justify-content: space-between;align-items: center;">
                        <!-- <div> -->
                            Total Expenses : {{expense}} Rs
                        </div>
                    <!-- <button  class="button button1"><a style="color: white;" href="#addEmployeeModal" data-toggle="modal">Add Client</a></button> -->
                </div>
                <div class="paginator" style="width:100%;display: flex;justify-content: space-between;align-items: center;">
                    <div style="float:left; margin-top: 20px;">
                      Page {{ datas.start_index}} to {{ datas.end_index }} of {{ datas.paginator.count }}
                    </div>
                    <div style="float:right;"><br>
                      <nav aria-label="Page navigation example">
              
                        
                          <ul class="pagination">
                            {% if datas.has_previous %}
                            <li class="page-item">
                              <a class="page-link" href="?page={{ datas.previous_page_number }}">&laquo; Previous</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                              <a class="page-link">&laquo; </a>
                            </li>
                            {% endif %}
                            {% for i in datas.paginator.page_range %} 
                            <!-- {# {% if datas.number == i %} #} -->
                            {% if i <= datas.number|add:5 and i >= datas.number|add:-5 %}
              
                            {% if datas.number == i %}
                            <li class="page-item active">
                              <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                            </li>
                            {% else %}
                            <li class="page-item">
                              <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                            </li>
                            {% endif %}
              
                            {% endif %}
                            {% endfor %} 
              
                            {% if datas.has_next %}
              
                            <li class="page-item">
                              <a class="page-link" href="?page={{ datas.next_page_number }}">&raquo; Next</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                              <a class="page-link">Next &raquo;</a>
                            </li>
                            {% endif %}
                          </ul>
                        
              
                      </nav>
                    </div>
                  </div>
            </div>
            <!-- Edit Modal HTML -->
            <div id="editEmployeeModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="post" action="{% url 'editClient' %}">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h4 class="modal-title">Edit Client</h4>
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>clientName</label>
                                    <input type="text" id="clientnameId" name="clientName" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" id="emailId" name='email'class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="text" id="phoneId" name='phone' class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Estimated Amount</label>
                                    <input type="number" min="1000" id="estimatedAmountId" name='estimatedAmount' class="form-control" required>
                                </div>
                                <input type="hidden" name="client_id" id="clientId">

                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-info" value="Save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <div id="addEmployeeModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="post" action="{% url 'expenses' %}">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h4 class="modal-title">Add</h4>
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Date</label>
                                    <input type="date" name="date" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" name="description" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Amount</label>
                                    <input type="number" min="1000" name="amount" class="form-control" required>
                                </div>
                                
                            </div>
                            <div class="modal-footer">
                                <!-- <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel"> -->
                                <input type="submit" class="btn btn-info" value="Save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Delete Modal HTML -->
            <div id="deleteEmployeeModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form>
                            <div class="modal-header">
                                <h4 class="modal-title">Delete Client</h4>
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete these Records?</p>
                                <p class="text-warning"><small>This action cannot be undone.</small></p>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-danger" value="Delete">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.6.3/js/jquery.overlayScrollbars.min.js"></script>
    <script>
         function editClientDetails(clientName, phone, email, estimatedAmount){
            document.getElementById('clientnameId').value = clientName;
            document.getElementById('phoneId').value = phone;
            document.getElementById('emailId').value = email;
            document.getElementById('estimatedAmountId').value = estimatedAmount;
            document.getElementById('clientId').value = clientId;
        }
    console.clear(); // Clear all CodePen's errors and warnings
        /*
        
        Requires:
        
        • jQuery | Boottrap v4.1+
        
        Overlay Scrollbars:
        https://kingsora.github.io/OverlayScrollbars/#!overview
        
        
        TODO:
        
        • fix left-sidebar srolling when overflowing. Avoid default scrollbar style.
        • Dim screen when opening sidebar?
        • Add extra brand logo and menu icon on open?
        • Add footer to left sidebar.
        • Support a right sidebar?
        • Sidebar animation, history/navigation fix.
        • Use hardware acceleration for animated sidebar?
        • Partial icon view for sidebar collapse?
        
        */

        var body = $(document.body),
            open_left_sidebar = "open-left-sidebar",
            sidebar_btn = $("#sidebar_btn"),
            left_sidebar = $("#left_sidebar"),
            anchors = $(".sidebar-elements li a", left_sidebar),
            wrapper = $(".be-wrapper"),
            menu_speed = 200;

        // Only for debugging (stop page navigating away)
    //     $(
    //         ".be-wrapper > .navbar a, \
    //    .be-wrapper > .be-left-sidebar a"
    //     ).attr("href", "#" + Math.random());

        // Updated: 2018.12
        // By default both '.be-animate' and '.be-offcanvas-menu'
        // should be placed in the body tag.
        // Using '.open-left-sidebar' to open the sidebar.
        // $(document.body)
        //     .addClass("be-animate be-offcanvas-menu open-left-sidebar");

        // Updated: 2019.03.11 @ 17:49:23
        // Only for debugging (extending menus and testing scrollbar)
        $("#debug_only_menuopen")
            .addClass("open")
            .find(".sub-menu > .parent")
            .addClass("open");



        // Updated: 2019.14.03 @ 18:09:27
        /** Scrollbar Support (Change with what ever scollbar plugin you need) **/
        var scrollbar = OverlayScrollbars(
            $(".left-sidebar-scroll")[0],
            {
                scrollbars: {
                    autoHide: "leave",
                    autoHideDelay: 100
                }
            }
        );

        // Updated: 2019.01.12 @ 18:39:59
        function toggle_sidebar() {
            body.toggleClass(open_left_sidebar);
        }

        sidebar_btn.on(
            "click",
            debounce(toggle_sidebar, 200, true)
        );

        // Updated: 2020.01.08 @ 19:42:34
        /** Operate submenus **/
        anchors.on("click", function (event) {
            var $el = $(this),
                $li = $el.parent(),
                $subMenu = $el.next(),
                $open = $li.siblings(".open");

            //console.log($subMenu);
            //$el.parents().eq(1).hasClass("sidebar-elements");

            if ($li.hasClass("open")) {
                slideUp($subMenu, event);
            } else {
                slideDown($el, event);
            }

            if ($el.next().is("ul")) {
                event.stopPropagation();
                event.preventDefault();
            }
        });

        function isCollapsibleSidebarCollapsed() {
            return wrapper.hasClass("be-collapsible-sidebar-collapsed");
        }

        function slideUp($subMenu, event) {
            var target = $(event.currentTarget),
                parent = $($subMenu).parent(),
                item = $("li.open", parent),
                isRoot = !target.closest(left_sidebar).length,
                speed = menu_speed,
                hasElements = target.parents()
                    .eq(1)
                    .hasClass("sidebar-elements");

            //console.log(event);


            if (
                !$.isSm() &&
                isCollapsibleSidebarCollapsed() &&
                (hasElements || isRoot)
            ) {
                parent.removeClass("open");
                $subMenu.removeClass("visible");
                item.removeClass("open").removeAttr("style");
            } else {
                $subMenu.slideUp({
                    duration: speed,
                    complete: function () {
                        parent.removeClass("open");
                        $(this).removeAttr("style");
                        item.removeClass("open").removeAttr("style");
                    }
                });
            }
        }

        function slideDown($this, event) {
            var $el = $($this),
                parent = $el.parent(),
                next = $($el).next(),
                speed = menu_speed,
                hasElements = $(event.currentTarget)
                    .parents()
                    .eq(1)
                    .hasClass("sidebar-elements"),
                siblingsOpen = parent.siblings(".open");

            //console.log("$this: ", $this);
            //console.log("slideDown: ", $(event.currentTarget));

            if (siblingsOpen) {
                slideUp(
                    $("> ul", siblingsOpen),
                    event
                );
            }

            if (
                !$.isSm() &&
                isCollapsibleSidebarCollapsed() &&
                hasElements
            ) {
                parent.addClass("open");
                next.addClass("visible");
            } else {
                next.slideDown({
                    duration: speed,
                    complete: function () {
                        parent.addClass("open");
                        $(this).removeAttr("style");
                    }
                });
            }
        }

        // Updated: 2019.01.02 @ 12:00:00
        /** AUTO close with user clicks or taps away from sidebar **/
        $(document.body).on(
            "mousedown touchstart",
            function (event) {
                if (
                    !$(event.target).closest(left_sidebar).length &&
                    !$(event.target).closest(sidebar_btn).length &&
                    body.hasClass(open_left_sidebar)
                ) {
                    body.removeClass(open_left_sidebar);
                }
            }
        );

        // Updated: 2019.01.03 @ 13:03:58
        /***************************/
        /** Bootstrap Breakpoints **/
        /***************************/
        (function (e) { e.isBreakpoint = function (t) { var o, i, a; switch (t) { case "xs": a = "d-none d-sm-block"; break; case "sm": a = "d-none d-md-block"; break; case "md": a = "d-none d-lg-block"; break; case "lg": a = "d-none d-xl-block"; break; case "xl": a = "d-none" }return i = (o = e("<div/>", { class: a }).appendTo("body")).is(":hidden"), o.remove(), i }, e.extend(e, { isXs: function () { return e.isBreakpoint("xs") }, isSm: function () { return e.isBreakpoint("sm") }, isMd: function () { return e.isBreakpoint("md") }, isLg: function () { return e.isBreakpoint("lg") }, isXl: function () { return e.isBreakpoint("xl") } }) })(jQuery);

        // Updated: 2019.01.12 @ 18:36:59
        /***************************/
        /** Underscore.js debounce function **/
        /***************************/
        function debounce(a, b, c) { var d, e, f, g, h; var l = function () { return new Date().getTime(); }; var i = function () { var j = l() - g; if (j < b && j >= 0) { d = setTimeout(i, b - j); } else { d = null; if (!c) { h = a.apply(f, e); if (!d) { f = e = null; } } } }; return function () { f = this; e = arguments; g = l(); var k = c && !d; if (!d) { d = setTimeout(i, b) }; if (k) { h = a.apply(f, e); f = e = null; } return h; }; };

    </script>
    <script>$(document).ready(function () {
            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();

            // Select/Deselect checkboxes
            var checkbox = $('table tbody input[type="checkbox"]');
            $("#selectAll").click(function () {
                if (this.checked) {
                    checkbox.each(function () {
                        this.checked = true;
                    });
                } else {
                    checkbox.each(function () {
                        this.checked = false;
                    });
                }
            });
            checkbox.click(function () {
                if (!this.checked) {
                    $("#selectAll").prop("checked", false);
                }
            });
        });</script>
         <script>
            function changedate(date){
                document.getElementById('myDate').click()
                document.getElementById('buttonid').click()
            }
        </script>
</body>

</html>